* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
}

#navbar ul {
  list-style: none; 
  background: #f7f7f7;
}

#navbar ul li {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
}

#navbar ul li:hover {
  background: coral;
}

#navbar ul li a {
  text-decoration: none;
  color: #000;
}

#navbar ul li:hover a {
  color: #fff;
}

#navbar ul li ul {
  display: none;
  margin-top: 8px;
}

#navbar ul li:hover ul {
  display: block;
  position: absolute;
}

#navbar ul li:hover ul li {
  position: relative;
  padding: 1rem;
  display: block;
  width: 250px;
  background: #e7e7e7;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li span {
  float: right;
  background: coral;
  color: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: chocolate;
}

@media (max-width: 625px) {
  #navbar ul li {
    display: block;
  }
}